{% extends 'main.html' %}
{% load static %} 
{% block content %}

<!-- login Area Strat-->
        <section class="login-area pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="basic-login">
                            <h3 class="text-center mb-60">Login From Here</h3>
                            <form method="POST" action="">
						    {% csrf_token %}
						    <div class="input-group mb-3">
							    <div class="input-group-append">
								    
							    </div>

							    <input type="text" name="username" placeholder="Username..." class="form-control">
						    </div>

						    <div class="input-group mb-2">
							    <div class="input-group-append">
								    
							    </div>

								<input type="password" name="password" placeholder="Password..." class="form-control" >
						    </div>
                            <div class="login-action mb-20 fix">
                                <span class="log-rem f-left">
                                    <input id="remember" type="checkbox" />
                                    <label for="remember">Remember me!</label>
                                </span>
                                <span class="forgot-login f-right">
                                    <a href={% url 'reset_password' %}>Forgot password?</a>
                                </span>
                            </div>
                                <button class="c-btn theme-btn-2 w-100" >Login Now</button>
                                

                                {% for message in messages %}
                                    <p id="messages">{{message}}</p>
                                {% endfor %}
                                <div class="or-divide"><span>or</span></div>

                                <button class="c-btn theme-btn w-100"><a href= {% url 'register' %} >Register Now</a></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- login Area End-->

{% endblock content %}   